@model Overnet.SitoAcademy.Modello

@{ 
    ViewData["Title"] = Model.Saluto;
}

<p>@Model.Data</p>

<ul>
    @foreach(var s in Model.Studenti)
    {
        <li>@s</li>
    }
</ul>

@section head {
    <meta description="Questa è la nostra fantastica home" />
}